{% include "header.html" with title="Log in" %}

<main >
    
    <h1 class="Title"> Log in </h1>
    <form class="login" action="/profile/login/" method="post">
        {% csrf_token %}
        <div>
            <label for="username"> Username: </label>
            <input name="username" type="text" id="username" autofocus>
        </div>
        <div>
            <label for="password"> Password: </label>
            <input name="password" type="password" id="password">
        </div>
        <div id="login_button">
            <button> Log in </button>
        </div>    
        
        <output> {{error}} </output>    
        <input type="hidden" name="next" id="next" value={{next}}>   
    </form>
    
</main>